<form method="POST" class="needs-validation" action="/add_action" novalidate>
    <div class="mb-3">
        <label for="" class="form-label">First Name</label>
        <input type="text" class="form-control" id="" required name="first_name"
            aria-describedby="emailHelp">
        <div class="invalid-feedback">
            Please Enter First Name.
        </div>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="" required name="last_name" aria-describedby="emailHelp"
            required>
        <div class="invalid-feedback">
            Please Enter Last Name.
        </div>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="text" class="form-control" name="email" required aria-describedby="emailHelp">
        <div class="invalid-feedback">
            Please Enter Email.
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Phone Number</label>
        <input type="text" class="form-control" name="phone_no" required >
        <div class="invalid-feedback">
            Please Enter you Number.
        </div>
    </div>
    <div class="mb-3 form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" name="comments" required ></textarea>
        <label for="floatingTextarea">Comments</label>
        <div class="invalid-feedback">
            Please Enter Comments.
        </div>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
        <a href="/" type="button" class="btn btn-danger btn-small">Cancel</a>
    </div>
</form>
<script>
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>