<form method="POST" action="/edit_action">
    {{#each rows}}
    <div class="mb-3">
        <input type="text" class="form-control" name="id" aria-describedby="emailHelp" value="{{this.id}}" hidden>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">First Name</label>
        <input type="text" class="form-control" name="first_name" value="{{this.first_name}}" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Last Name</label>
        <input type="text" class="form-control" name="last_name" value="{{this.last_name}}" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="text" class="form-control" name="email" value="{{this.email}}" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Phone Number</label>
        <input type="text" class="form-control" name="phone_no" value="{{this.phone}}">
    </div>
    {{/each}}
    <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
    <a href="/" type="button" class="btn btn-danger btn-small">Cancel</a>

</form> 